.home {
  min-height: 90vh;
  position: relative;
  display: grid;
  grid-template-columns: 66fr 33fr;
  grid-template-areas: "main nav";
}
.container {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 5vw;
  padding-top: 8vw;
}
.heading {
  font-family: var(--heading-font);
  font-style: normal;
  font-weight: normal;
  font-size: 3.8rem;
  line-height: 72px;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: -4px 4px 4px #10abc2;
}
.text {
  font-family: monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  margin: 5vh 0;
  width: 30vw;
  line-height: 31px;
  color: #bfc0c2;
}

.learnQ {
  width: 30vw;
}

.brackets {
  width: 20vw;
  margin-right: 5vw;
  margin-top: 8vw;
}

@media only screen and (max-width: 1180px) {
  .home {
    grid-template-columns: auto;
    grid-template-rows: 50% 40%;
    background-image: none;
    grid-template-areas:
      "main"
      "footer";
  }
  .container {
    justify-content: center;
    align-items: center;
  }
  .heading {
    font-size: 3rem;
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 5vh;
  }
  .brackets {
    display: none;
  }
  .text {
    text-align: center;
    margin-top: 5vh;
    width: 50vw;
    margin-bottom: 5vh;
    font-size: 1rem;
  }
  .learnQ {
    width: 40vw;
  }
}

@media only screen and (max-width: 650px) {
  .heading {
    font-size: 2rem;
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 5vh;
  }
  .text {
    width: 90vw;
    line-height: normal;
  }
  .learnQ {
    width: 80vw;
  }
}
