.home {
  min-height: 100vh;
  position: relative;
  display: grid;
  grid-template-columns: 66fr 33fr;
  grid-template-areas: "main nav";
  background-image: url("../../images/homepagebg.png");
  background-size: cover;
}
.container {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.heading {
  margin-top: 11vh;
  font-size: 2.4rem;
  font-weight: 900;
  letter-spacing: 0px;
  color: var(--heading-color);
  z-index: 3;
  animation: headingAnimation 1s forwards 0s ease-out;
}
.text {
  color: white;
  font-size: 1.1rem;
  width: 60%;
}

.primaryBtn {
  margin-top: 5vh;
  border: none;
  border-radius: 20px;
  color: white;
  background: var(--primary-btn-color);
  width: 20vh;
  height: 5vh;
  cursor: pointer;
  font-size: 1.1rem;
  z-index: 5;
}

.primaryBtn:focus {
  border: none;
  outline: none;
}

.computer {
  animation: computerAnimation 1s forwards 0s ease-out;
}

@keyframes computerAnimation {
  0% {
    transform: rotate(0) scale(0.75) translateY(-20%);
    opacity: 0;
  }
  100% {
    transform: rotate(0) scale(1) translateY(0);
    opacity: 1;
  }
}

@keyframes headingAnimation {
  0% {
    transform: rotate(0) translateY(-35%);
    opacity: 0;
  }
  100% {
    transform: rotate(0) translateY(0);
    opacity: 1;
  }
}

@media only screen and (max-width: 1180px) {
  .home {
    grid-template-columns: auto;
    grid-template-rows: 50% 40%;
    background-image: none;
    grid-template-areas:
      "main"
      "footer";
  }
  .container {
    justify-content: right;
  }
  .heading {
    font-size: 1.6rem;
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 5vh;
  }
  .svgimg {
    width: 50%;
  }
  .text {
    margin-top: 5vh;
    margin-bottom: 2vh;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 650px) {
  .svgimg {
    width: 100%;
  }
}
