.waveSvg {
  position: absolute;
  right: -19vh;
  height: 100%;
}

.waveSvg2 {
  position: absolute;
  right: -25vh;
  height: 100%;
}

@media only screen and (max-width: 1080px) {
  .waveSvg {
    display: none;
  }
  .waveSvg2 {
    display: none;
  }
}
