html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

:root {
  --heading-color: #0e153a;
  --primary-btn-color: #3e3d55;
  --nav-btn-background: #707070;
  --background-gradient: linear-gradient(to bottom right, #3650c7, #42abdc);
}

* {
  font-family: "Poppins", sans-serif;
}

.App {
  background: var(--background-gradient);
}

@media only screen and (max-width: 1080px) {
  .App {
    position: relative;
    display: grid;
    grid-template-rows: 5% 90%;
    grid-template-areas:
      "nav"
      "primary";
  }
}
