html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

:root {
  --heading-color: #0e153a;
  --primary-btn-color: #3e3d55;
  --nav-btn-background: #707070;
  --background-gradient: linear-gradient(to bottom right, #3650c7, #42abdc);
}

* {
  font-family: "Poppins", sans-serif;
}

.App {
  min-height: 100vh;
  background-image: var(--background-gradient);
  display: grid;
  grid-template-columns: 66% 33%;
  grid-template-areas: "main nav";
}

.waveSvg {
  position: absolute;
  right: -19vh;
  height: 100%;
}

.waveSvg2 {
  position: absolute;
  right: -25vh;
  height: 100%;
}
